<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>Tier1Health</title>
		<link rel="icon" href="images/favicon.ico"/>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 't1health_app/assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 't1health_appassets/css/noscript.css' %}"/></noscript>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">WELCOME</a></li>
							<li><a href="#one">ABOUT US</a></li>
							<li><a href="#two">FITNESS PLAN</a></li>
							<li><a href="{% url 'logout'%}">LOGOUT</a>
                            </li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Top Page -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<!-- Image -->
							<a href=index.html>
								<img src="{% static 't1health_app/images/logo_transparent_no_text.png' %}" width="300">
                            </a>
                            <h1 style="color: black"> Hi {{ user.get_username }}</h1>
                            <h1 style="color: black">Welcome to Tier1Health.</h1>
                            <!-- <h1>Hi {{ user.get_username }}!</h1> -->

							<ul class="actions">
								<li><a href="{% url 'input_page' %}" class="button scrolly">Input Your Data</a></li>
							</ul>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="{% static 't1health_app/images/pic01.jpg' %}" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Sed ipsum dolor</h2>
									<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
									<ul class="actions">
										<li><a href="generic.html" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="{% static 't1health_app/images/pic02.jpg' %}" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Feugiat consequat</h2>
									<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
									<ul class="actions">
										<li><a href="generic.html" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="{% static 't1health_app/images/pic03.jpg' %}" alt="" data-position="25% 25%" /></a>
							<div class="content">
								<div class="inner">
									<h2>Ultricies aliquam</h2>
									<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
									<ul class="actions">
										<li><a href="generic.html" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Fitness Plan</h2>
							<div class="features">
								<section>
									<img src="{% static 't1health_app/images/1-YourStats.png' %}" alt="My Sample Image" width="200">
									</a>
								</section>
								<section>
									<a href="{% url 'fitness_page' %}">
									<img src="{% static 't1health_app/images/1-Fitness.png' %}" alt="My Sample Image" width="200">
									</a>
								</section>
								<section>
									<a href="{% url 'nutrition_page' %}">
									<img src="{% static 't1health_app/images/1-Nutrition.png' %}" alt="My Sample Image" width="200">
									</a>
								</section>
								<section>
									<a href="{% url 'results_page' %}">
									<img src="{% static 't1health_app/images/1-Results.png' %}" alt="My Sample Image" width="200">
									</a>
								</section>
							</div>
							<ul class="actions">
								<li><a href="generic.html" class="button">Learn more</a></li>
							</ul>
						</div>
					</section>

				<!-- Three -->
					<!-- <section id="three" class="wrapper fullscreen style1 fade-up">
						<div class="inner">
							<h2 style="color: black">Sign In</h2>
							<div class="split style1">
								<div id =login>
								<section>
									<form class = "form-horizontal" method="post" name="LoginForm">
										{% csrf_token %}
										{{ form.non_field_errors }}
										{% if next %}
											<input type="hidden" name="next" value="{{ next }}" />
										{% endif %}	
										<div class="fields">
											<div class="field half">
												<label class="control-label" style="color: black" for="username">Username</label>
												<input type="text" name="username" id="username" />
											</div>
											</div>
											<div class="field half">
													<div class="control-group">
												<label class="control-label" style="color: black" for="password">Password</label>
												<input type="password" name="password" id="password" />
											</div>
										</div>
										<ul class="actions">
											<div class="control-group">
												<div class="controls"><br>
													<button type="submit" class="btn">Login</button>		
												</div>
											</div>
										</ul>
									</form>
								</section>
								</div>
								<section>
									<ul class="contact">
										<li>
											<h3 style="color: black">Address</h3>
											<span>12345 Somewhere Road #654<br />
											Waterloo, ON 00000-0000<br />
											Canada</span>
										</li>
										<li>
											<h3 style="color: black">Email</h3>
											<a href="#">user@untitled.tld</a>
										</li>
										<li>
											<h3 style="color: black">Phone</h3>
											<span>(000) 000-0000</span>
										</li>
										<li>
											<h3 style="color: black">Social</h3>
											<ul class="icons">
												<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
												<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
												<li><a href="#" class="fa-github"><span class="label">GitHub</span></a></li>
												<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
												<li><a href="#" class="fa-linkedin"><span class="label">LinkedIn</span></a></li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section> -->

			</div>

		<!-- Scripts -->
		<script src="{% static 't1health_app/assets/js/jquery.min.js' %}"></script>
		<script src="{% static 't1health_app/assets/js/jquery.scrollex.min.js' %}"></script>
		<script src="{% static 't1health_app/assets/js/jquery.scrolly.min.js' %}"></script>
		<script src="{% static 't1health_app/assets/js/browser.min.js' %}"></script>
		<script src="{% static 't1health_app/assets/js/breakpoints.min.js' %}"></script>
		<script src="{% static 't1health_app/assets/js/util.js' %}"></script>
		<script src="{% static 't1health_app/assets/js/main.js' %}"></script>

	</body>
</html>

    <!-- <b>Hi {{ user.get_username }}!</b>
    <a href="{% url 'logout'%}">Logout</a>

    <form action="your_view_url" method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="text" name="info_name" value="info_value"><br>
        <input type="submit" value="Submit">
    </form>
    <p> Post Data: {{ info }} </p>
    <p> Result: {{ output }} </p>
    
</body>
</html> -->