<!DOCTYPE html>
{% load static %}
<head>
    <title>Tier1Health</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 't1health_app/css/t1h.css' %}">
</head>
<body>
    <b>Hi {{ user.get_username }}!</b>
    <a href="{% url 'logout'%}">Logout</a>

    <form action="your_view_url" method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="text" name="info_name" value="info_value"><br>
        <input type="submit" value="Submit">
    </form>
    <p> Post Data: {{ info }} </p>
    <p> Result: {{ output }} </p>
    
</body>
</html>